@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap');

* {
    background-color: rgb(170, 220, 247);
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

/* RIBBON STYLING */
.ribbon {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 15px;
    margin-bottom: 2em;
    background-color: #fefefe;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 7px 0px #888
}

.ribbon > h1 {
    background-color: inherit;
    padding-left: 20px;
}

.open {
    background-color: #bee8ba;
    margin: 1.5em;
    border: none;
    border-radius: 10px;
    padding: 0.5em;
    width: 60%;
    font-size: larger;
}

.open:hover {
    background-color: #9ee897;
    transition: all 0.2s ease-out;
    cursor:pointer;
    box-shadow: 4px 4px 12px -5px #888;
}

/* MAIN BODY STYLING & CARDS */
.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    margin: 2em;
    column-gap: 2em;
}

.container > .tbr, .container > .read {
    display: grid;
    grid-template-rows: 0.2fr repeat(3, 18em);
    grid-auto-rows: 14em;
    gap: 1.5em;
}


.container > .tbr > div, .container > .read > div {
    background-color: white;
    padding: 1.5em;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px #b5b5b5;
    white-space: pre-line;
    font-size: larger;
    box-sizing: border-box;

    display: grid;
    grid-template-rows: 3fr 1fr 1fr;
    gap: 0.5em;
}

.container > .tbr > div:hover, .container > .read > div:hover {
    box-shadow: 4px 4px 12px -5px #888;
    transition: all 0.3s ease;
}

/* CARD BUTTONS */

.mark-read {
    border: none;
    border-radius: 10px;
    font-weight: bolder;
}

.mark-read:hover {
    box-shadow: 4px 4px 12px -5px #888;
    transition: all 0.3s ease;
}

.del {
    background-color: #f5a6a8;
    border: none;
    border-radius: 10px;
    font-weight: bolder;
}

.del:hover{
    background-color: #fa7a7f;
    transition: all 0.2s ease-out;
    cursor: pointer;
    box-shadow: 4px 4px 12px -5px #888;
}

.modal {
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
}

.modal-body {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: none;
    border-radius: 10px;
    width: 30%; 
    display: flex;
    flex-direction: column;
}

.modal-body > .close {
    border: none;
    font-weight: bolder;
    color: red;
    align-self: flex-end;
    margin-bottom: 0.5em;
}

.modal-body > .close:hover {
    cursor: pointer;
}

.modal-body > form {
    background-color: inherit;
    display: flex;
    flex-direction: column;
}

form > label, form > input, .modal-body > .close {
    background-color: #fefefe;
}

.modal-body > form > input {
    border: 1px solid #888;
    padding: 0.5em;
    margin: 5px;
    border-radius: 10px;
}

.modal-body > form > .add {
    border: none;
    padding: 1em;
    border-radius: 10px;
    background-color: #bee8ba;
    margin: 5px;
    margin-top: 10px;
    cursor: pointer;
    font-weight: bolder;
}

.modal-body > form > .add:hover {
    transition: all 0.2s ease-out;
    cursor:pointer;
    box-shadow: 4px 4px 12px -5px #888;
    background-color: #9ee897;
}

footer > * {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    width: 100vw;
    background-color: #fefefe;
    white-space: pre;
}

footer > h6 > a {
    background-color: white;
    color: rgb(121, 206, 252);
    font-size: larger;
}

.active {
    background-color: red;
    color: white;
}